<div>
  <h1 class="text-3xl mb-4 content-center text-center">About Us</h1>
  <div class="p-6 bg-white rounded border border-solid border-black-200">
    <img src="<%= asset_path("team_photo.png") %>" alt="Our Team" class="float-left mr-6 mb-4 w-full max-w-max h-auto rounded">
    <p>The Baluʿa Regional Archaeological Project (BRAP) officially began in 2017 with excavations at Khirbat al-Baluʿa under the current directors, Drs. Kent Bramlett, Monique Roddy, and Friedbert Ninow. The project is sponsored by La Sierra University and Theologische Hochschule Friedensau, with consortium support from Walla Walla University and Sacred Heart Seminary and School of Theology.</p>
    <p class="mt-4">Khirbat al-Baluʿa is a multi-period site in central Jordan, north of Karak, stretching over approximately 20 hectares. Baluʿa is located next to the Wadi Baluʿa, which is a secondary tributary to the Wadi Mujib. In this location, Baluʿa was able to control a major north-south route and guard access from the north to the Karak Plateau over the millennia.</p>
    <p class="mt-4">The BRAP has renewed excavations at this important site, identifying three main areas of excavation in a pilot season in 2017. GPS survey and test excavations in 2010 and 2012 established a preliminary map of the visible remains at the site. The most extensive period of occupation at Baluʿa dates to the Iron II period (1000–550 B.C.), when the city expanded to include a large, walled lower settlement.</p>
    <p class="mt-4">The Iron II settlement is impressive, with building walls preserved to over 6 feet in height and doorways with stone lintels still intact. The site is located in what is traditionally known as the Moabite region of Jordan in the Iron Age. Other periods represented at the site include a Middle Islamic village and a Nabatean sacred structure, as well as Bronze Age and Hellenistic occupations.</p>
  </div>
  <div class="mt-[3rem] content-center text-center">
    <%= link_to "Start Exploring", root_path, class: "bg-gray-300 hover:bg-gray-400 font-bold py-2 px-4 rounded px-[6rem]" %>
  </div>
</div>
