<div>
  <h1 class="text-3xl font-bold mb-4 text-center">User Management</h1>
  <div class="space-y-4">
  <table class="w-full mt-6 border-collapse border border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        <th class="border border-gray-300 p-2 text-center">User</th>
        <th class="border border-gray-300 p-2 text-center">Role</th>
        <th class="border border-gray-300 p-2 text-center">Email</th>
        <th class="border border-gray-300 p-2 text-center">Access Log</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render partial: 'manage_users_row', locals: { user: user } %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
