<div class="row mb-3">
  <div class="col">
    <h1 class="text-2xl font-bold"><%= "#{@locus['locus_type']} Description" %></h1>
  </div>
</div>
<% description_type = @descriptions['description_types'][@locus['locus_type']] %>
<% @descriptions[description_type].each do |description_section| %>
  <div class="row">
    <div class="col">
      <h2 class="text-xl font-bold"><%= description_section[0] %></h2>
    </div>
  </div>

  <% description_section[1].each do |description_section_entry| %>
    <div class="form-group row">
      <label for="field" class="col-sm-12 col-form-label"><%= description_section_entry['label'] %></label>
      <div class="col-sm-12">
        <%= input_for(description_section_entry, @locus&.dig(description_type)&.dig(description_section_entry['key']), description_type) %>
      </div>
    </div>
  <% end %>
<% end %>
