<h1>Interpretation</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <% (@descriptions['interpretation'] || []).each do |entry| %>
    <% next if entry['key'] == 'stratigraphy_remarks' # edited in the Stratigraphy section %>
    <div>
      <label for="locus_<%= entry['key'] %>"><%= entry['label'] %></label>
      <%= text_field_tag "locus[#{entry['key']}]", @locus[entry['key']], id: "locus_#{entry['key']}", class: 'form-control' %>
    </div>
  <% end %>
</div>
