<div class="row">
  <div class="col">
    <h1 class="text-xl font-bold">Levels</h1>
  </div>
</div>
<div class="row">
  <div class="col level-container">
    <% hash_rows(@locus['levels']).each do |level| %>
      <%= render 'level_form_row', level: level %>
    <% end %>
  </div>
</div>
<div class="row mb-3">
    <div class="col">
    <input type="button" id="add-level-row" name="add-level-row" value="Add Level" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 cursor-pointer" />
  </div>
</div>

<script>
  function removeThisLevel(_this){
    $(_this).parents('.level-row').remove();
  };

  $(function($) {
    // Render the same partial used for existing rows so added rows match.
    var html = "<%= j render 'level_form_row', level: {} %>"
    var $button = $('#add-level-row')

    $button.click(function() {
      $('.level-container').append(html);
    });
  })
</script>
