<div class="row">
  <div class="col">
    <h1 class="text-xl font-bold">Stratigraphy</h1>
  </div>
</div>
<div class="row">
  <div class="col stratigraphy-container">
    <% hash_rows(@locus['stratigraphies']).each do |stratigraphy| %>
      <%= render 'stratigraphy_form_row', stratigraphy: stratigraphy %>
    <% end %>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <input type="button" id="add-row" name="add-row" value="Add row" 
    class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 cursor-pointer" />
  </div>
</div>

    <div class="form-group row">
      <label for="designation" class="col-sm-12 col-form-label">Stratigraphy Remarks</label>
      <div class="col-sm-12">
        <textarea class="form-control" id="locus[stratigraphy_remarks]" name="locus[stratigraphy_remarks]" rows="5"><%= @locus['stratigraphy_remarks'] %></textarea>
      </div>
    </div>

<script>
  function removeThis(_this){
    $(_this).parents('.stratigraphy-row').remove();
  };

  $(function($) {
    // Render the same partial used for existing rows so added rows match.
    var html = "<%= j render 'stratigraphy_form_row', stratigraphy: {} %>"

    var $button = $('#add-row')

    $button.click(function() {
      $('.stratigraphy-container').append(html);
    });
  })
</script>
