<div class="ls-card">
  <h2>Stratigraphy</h2>
  <div class="overflow-x-auto">
    <table>
      <thead>
        <tr>
          <th>Relationship</th>
          <th>Related to</th>
          <th>Related locus</th>
        </tr>
      </thead>
      <tbody>
        <% hash_rows(@locus['stratigraphies']).each do |stratigraphy_row| %>
          <tr>
            <td><%= stratigraphy_row["is_related"] %></td>
            <td><%= stratigraphy_row["related"] %></td>
            <td><%= stratigraphy_row["related_locus"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
