<div class="row">
  <div class="col-12 align-bottom">
    <h1>Registar Homepage for season <%= @selected_season %></h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>Unregistered Items</h1>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <h2>Information</h2>
  </div>
  <div class="col-2">
    <h2>Type</h2>
  </div>
  <div class="col-5">
    <h2>Remarks</h2>
  </div>
</div>

<% @finds.each do |find| %>
<div class="row">
  <div class="col-5">
    <%= link_to "Locus: #{find.locus}, Pail: #{find.pail_number}, Field number: #{find.field_number}", registrar_path(id: find.id, pail_id: find.pail_number, item_type: find.type, item_number: find.field_number, item_locus_code: find.locus) %>
  </div>
  <div class="col-2">
      <%= find.type %>
  </div>
  <div class="col-5">
    <%= find.remarks %>
  </div>
</div>
<% end %>